.Cell {
  height: 100px;
  width: 100px;
  background-image: url("images/lightsoff.jpeg"); /* Replace 'path_to_lightbulb_off.png' with the path to your off lightbulb image */
  background-size: cover; /* Ensure the lightbulb image covers the cell */
  cursor: pointer;
}

.Cell-lit {
  background-image: url("images/lightson.png"); /* Replace 'path_to_lightbulb_off.png' with the path to your off lightbulb image */
  background-size: cover; /* Ensure the lightbulb image covers the cell */
}
